table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}
.custom{
  margin-bottom: 5%;
  margin-top: 3%;
}
.margin{
  margin-top: 8%;
}
